section{
    background-color:#5E6269;
    width:95%;
    padding-bottom:5%;
    padding-top:5%
}
.aboutme{
    width:95%;
    text-align:center;
    color:#ffffff;
}
.about{
    display:inline-block;
    width:935px;
}
.logo{
    position:absolute;
    top:20px;
    left:5px;
}
.cardArea{
    width:95%;
    display:grid;
    justify-content:center;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    "scroll cards scroll2"
}
.title{
    width:95%;
    color:white;
    text-align:center;
}
.card1{
    width:362px;
    height:541px;
    background-color:#8BADE0;
    grid-area:card1;
}
.card2{
    width:362px;
    height:541px;
    background-color:#8BADE0;
    grid-area:card2;
}
.card3{
    width:362px;
    height:541px;
    background-color:#8BADE0;
    grid-area:card3;
}
.iplan{
    width:362px;
    height:295px;
}
.mvaca{
    width:362px;
    height:295px;
}
.wframe{
    object-fit:cover;
    width:362px;
    height:295px;
    object-position:0 0;
}
.kban{
    width:362px;
    height:295px;
}
.scrollHover{
    background-color:#3D7DDB;
    opacity:.6;
    width:125px;
    height:325px;
    grid-area:scroll;
}
.scrollHover2{
    background-color:#3D7DDB;
    opacity:.6;
    width:125px;
    height:325px;
    grid-area:scroll2;
}
.cards{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    "card1 card2 card3"
    ;
    width:95%;
    grid-area:cards;
}
.back{
    position:fixed;
    top:0;
    right:0;
}
@media screen and (max-width:600px){
    .cardArea{
        display:flex;
        width:auto;
    }
    .cards{
        display:flex;
        width:auto;
        justify-content:space-between;
    }
}